            html, body {
                background: url("");
                color: #636b6f;
                font-family: 'Nunito', sans-serif;
                font-weight: 200;
                height: 100vh;
                margin: 0;
            }

            .full-height {
                height: 100vh;
            }

            .flex-center {
                align-items: center;
                display: flex;
                justify-content: center;
            }

            .position-ref {
                position: relative;
            }

            .top-right {
                position: absolute;
                right: 10px;
                top: 18px;
            }

            .content {
                text-align: center;
            }

            .title {
                font-size: 84px;
            }

            .links > a {
                color: #636b6f;
                padding: 0 25px;
                font-size: 13px;
                font-weight: 600;
                letter-spacing: .1rem;
                text-decoration: none;
                text-transform: uppercase;
            }

            .m-b-md {
                margin-bottom: 30px;
            }
            .bg-home{
                position: absolute;
                z-index: -1;
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: right;}
            .myimput{
                width: 100%;
                background: transparent;
                color: white;
                border: solid 0.5px;
                border-radius: 5px;
                padding: 5px 5px 5px 10px;
            }
            .myimput::placeholder{
                color: white;
            }
            main{
                padding:0;
                color: white;
                text-align: center;
                padding: 61px 0;
            }
            header{
                padding: 25px 0;
            }
            
            footer{
                color: white;
                position:absolute;
                bottom: 0;
                height: 50px;
                width: 100%;
                
            }
            .tamaño:before{
                font-size: 24px;
            }

            .container{
                position: relative;
                min-height: 100%;
            }
            .botonBuscar{
                margin-top: 20px;
            }
            